# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Fuzzy Logic 

email: srubayet15@cse.pstu.ac.bd

description: > # this means to ignore newlines until "baseurl:"
  Using R since 2010.

baseurl: "/" # the subpath of your site, e.g. /blog

url: "https://rubayet170746.github.io/" # the base hostname & protocol for your site, e.g. http://example.com

# Social media usernames
github_username:    rubayet170746
researchgate_username: Sajratul_Rubaiat
linkedin_username:    shahriar-rahman-rubayet-b81924188/
kaggle_username:    rafirubayet170216
twitter_username:     RubayetShahriar

markdown: kramdown

gems:
  - jekyll-feed
exclude:
  - Gemfile
  - Gemfile.lock
